<style>
    #wtext {
        color: white;
    }

    #gtext {
        color: gray;
    }
</style>
<h2 id="wtext">Contact</h2>

<address id="wtext">
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong id="gtext">Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong id="gtext">Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>